.education-school-static {
  font-size: 2.3rem;
  font-weight: bold;
}
.education-focus-static {
  margin: 0.4rem 0 0.35rem 0;
  /* letter-spacing: 0.04rem; */
}
.education-dates-static {
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
  font-style: italic;
  color: var(--color-pri);
}
.education-description-static {
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  line-height: 2.4rem;
  white-space: pre-wrap;
}

.education-container-edit {
  margin-top: 3rem;
  position: relative;
  gap: 0.2rem;
}
.education-container-edit::before {
  content: '';
  position: absolute;
  top: -1.2rem;
  left: 1.3rem;
  width: calc(100% - 2.6rem);
  border-top: 3px dotted var(--color-pri);
}
