.education-school-static {
  font-size: 2.3rem;
  font-weight: bold;
}
.education-focus-static {
  margin: 0.4rem 0 0.35rem 0;
  /* letter-spacing: 0.04rem; */
}
.education-dates-static {
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
  font-style: italic;
  color: var(--color-pri);
}
.education-description-static {
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  line-height: 2.4rem;
  white-space: pre-wrap;
}
