.sidebar {
  padding-right: 1.6rem;
  padding-top: 2.7rem;
  width: 10rem;
  display: flex;
  justify-content: flex-end;
  /* background: var(--color-pri); */
  background: darkgrey;
  /* border-right: 3px solid black; */
  /* border: 1px solid pink; */
}
.sidebar-header {
  writing-mode: vertical-lr;
  transform: scale(-1);
  text-align: right;
}
