.sidebar {
  padding-right: 1.6rem;
  padding-top: 2.7rem;
  width: 10rem;
  display: flex;
  justify-content: flex-end;
  background: darkgrey;
}
.sidebar-header {
  writing-mode: vertical-lr;
  transform: scale(-1);
  text-align: right;
}
.filler-header > .sidebar {
  border-top-left-radius: 0.3rem;
}
.filler-footer > .sidebar {
  border-bottom-left-radius: 0.3rem;
}
