.skills-container-static,
.skills-container-edit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
ul.skills-container-static {
  list-style: '- ' inside;
}
.skill-static {
  border: 2px solid purple;
}
.hidden {
  display: none;
}
