.skills-container-static,
.skills-container-edit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.skills-container-static {
  /* margin-left: 4rem; */
}
ul.skills-container-static {
  list-style: none;
}
.skill-static {
  position: relative;
  padding-left: 1.6rem;
  /* max-width: 25rem; */
}
.skill-static::before {
  content: '•';
  position: absolute;
  left: 0;
}
.hidden {
  display: none;
}
