:root {
  --color-pri: olivedrab;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-family: Helvetica, sans-serif;
  background: var(--color-pri);
  /* these force the print preview to display background colors */
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
  color: var(--color-pri);
}
.cv-container {
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr / 1fr;
}
header {
  justify-self: left;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border: 3px solid black;
  border-radius: 0.6rem;
}
@media only print {
  header {
    display: none;
  }
}
h1 {
  font-size: 2.6rem;
}
header > p {
  margin: 0.4rem 0;
  max-width: 40em;
}
.controls-container {
  margin: 1rem;
  padding: 1.3rem;
  display: flex;
  gap: 1rem;
  background: var(--color-pri);
  border-radius: 0.6rem;
}
.formControl {
  padding: 0.4rem 0.6rem;
  background: lightgrey;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}
.formControl:hover {
  background: darkgrey;
}
.formControl:active {
  background: lightgrey;
}
.cv {
  margin: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
}
@media only screen {
  .cv {
    max-width: 100rem;
    border: 3px solid black;
    border-radius: 0.6rem;
  }
}
@media only print {
  .cv {
    margin: 0;
  }
}
.filler-header {
  display: flex;
}
.filler-headerContent {
  height: 2.6rem;
}
.section-container {
  display: flex;
}
.section-preview {
  padding: 2.3rem 2.6rem;
}
.group-container {
  padding-left: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  border-left: 1.5px solid var(--color-pri);
}
.group {
  max-width: 45rem;
}
.group-edit {
  margin: 1rem;
  padding: 0.3rem;
  font-size: 1.4rem;
  border: 3px solid var(--color-pri);
  border-radius: 0.4rem;
}
.items-container-edit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.filler-footer {
  height: 100%;
  display: flex;
}
.filler-footerContent {
  height: 100%;
}
@media only print {
  footer {
    display: none;
  }
}
.hidden {
  display: none;
}
