:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

.formControl {
  margin: 1rem;
}

.cv {
  margin: 2rem;
}

.section-container {
  display: flex;
  border: 1px solid red;
}
.group {
  margin: 1rem;
  border: 3px solid green;
}
.group-edit {
  margin: 1rem;
  font-size: 1.4rem;
  border: 3px solid blue;
}
.items-container-edit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.item-description-static {
  white-space: pre;
}
.item-description {
  grid-column: 1 / 3;
}
.item-container {
  background: orange;
}
.item-container > label {
  text-transform: capitalize;
}

.hidden {
  display: none;
}
